.c-leaf {
  position: relative;
  overflow: hidden;
  width: 203px;
  height: 133px;
  margin: 0 auto;
  background: #eee;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.c-leaf__icon {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 1;
  width: 205px;
  height: 135px;
  fill: #fff;
}

.c-leaf__fill {
  width: 205px;
  height: 135px;
  background: #339999;
  -webkit-animation: fillRight 1.5s ease-in-out infinite;
          animation: fillRight 1.5s ease-in-out infinite;
}

@-webkit-keyframes fillRight {
  0% {
    -webkit-transform: translateX(-205px);
            transform: translateX(-205px);
  }
  100% {
    -webkit-transform: translateX(0px- 205px);
            transform: translateX(0px- 205px);
  }
}

@keyframes fillRight {
  0% {
    -webkit-transform: translateX(-205px);
            transform: translateX(-205px);
  }
  100% {
    -webkit-transform: translateX(0px- 205px);
            transform: translateX(0px- 205px);
  }
}
.x-reset-container {
  display: flex;
  align-items: center;
  padding: 50px;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: #fff;
}
