
$main-background-color: #fff;
$leaf-empty-color: #eee;
$leaf-fill-color: #339999;

$leaf-width: 205px;
$leaf-height: 135px;

$leaf-size: 1;
$leaf-time: 1.5s;

.c-leaf {
    position: relative;
    
    overflow: hidden;
    width: $leaf-width - 2px;
    height: $leaf-height - 2px;
    margin: 0 auto;
    
    background: $leaf-empty-color;
    
    transform: scale($leaf-size);
}

.c-leaf__icon {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1;
    
    width: $leaf-width;
    height: $leaf-height;
        
    fill: $main-background-color;
    //fill: red;
}

.c-leaf__fill {
    width: $leaf-width;
    height: $leaf-height;
    
    background: $leaf-fill-color;
            
    animation: fillRight $leaf-time ease-in-out infinite;
}

// @keyframes fillRight {
//     0% {
//         transform: translate(0, $leaf-width);
//     }
//     100% {
//         transform: translate(0, -$leaf-width);
//     }
// }
@keyframes fillRight {
  0% {
    transform: translateX(0-$leaf-width);
  }
  100% {
    transform: translateX(0px-$leaf-width);
  }
}




.x-reset-container {
    display: flex;
    align-items: center;
    padding: 50px;
}


// Reset
// ---

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; // reset
    padding: 0; // reset
    
    background: $main-background-color;
}